@{
    ViewData["Title"] = "Rezerwacja Kręgielnia";
}

<section class="hero-header text-center">
    <div class="container">
        <h1 class="hero-title">Rezerwacja Kręgielnia</h1>
        <p class="hero-subtitle">
            Nowoczesne tory • Komfort • Doskonała rozrywka
        </p>
    </div>
</section>
<section class="container my-5">

    <div class="row align-items-center gy-5">
        <div class="col-12 col-lg-6">
            <img src="/images/lanes/lane1.webp"
                 class="lane-image"
                 alt="Tor 1">
        </div>
        <div class="col-12 col-lg-6">
            <div class="lane-description">
                <h2>Tor nr.1-4</h2>
                <p>Nowoczesne tory.....</p>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="/images/lanes/lane2.webp"
                 class="lane-image"
                 alt="Tor 2">
        </div>
        <div class="col-12 col-lg-6">
            <div class="lane-description">
                <h2>Tor nr.5</h2>
                <p>Tor nr.5 to tor dla "vip"<p>
            </div>
        </div>

    </div>

</section>